.btnAddBadg {
  display: flex;
  background-color: $color4;
  border-radius: 0.25rem;
  padding: 1rem;
  height: 5rem;
  align-items: center;
}

.btnAddElem {
  position: absolute;
  left: 82vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  @media (min-width: 550px) {
    left: 76vw;
  }
  &.turn {
    transform: rotate(45deg);
  }
  &__left {
    width: 1.5rem;
    height: 3rem;
    border-radius: 3rem 0 0 3rem;
    background-color: $color1;
  }
  &__plus {
    display: block;
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 2rem;
    width: 2rem;
    background-image: url('../src/assets/plus.png');
  }
  &__anim {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: left;
    background-color: $color1;
    height: 3rem;
    font-weight: 600;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: scaleX(0);
    border-radius: 0 3rem 3rem 0;
    padding-right: 1.5rem;
  }
  &__right {
    width: 1.5rem;
    height: 3rem;
    border-radius: 0 3rem 3rem 0;
    background-color: $color1;
  }
  @media (max-width: 1000px) {
    &:hover {
      animation: vibrate infinite 0.3s ease-in-out;
      &.turn {
        animation: vibrate-turn infinite 0.3s ease-in-out;
      }
    }
  }
  @media (min-width: 1000px) {
    &:hover {
      &.turn {
        animation: vibrate-turn infinite 0.3s ease-in-out;
      }
      & > .btnAddElem__plus {
        animation: btnAdd_icon 91ms ease-in-out both;
        &.turn {
          animation: none;
        }
      }
      & > .btnAddElem__anim {
        animation: btnAdd 250ms ease-in-out both;
      }
    }
  }
}
