.accountCard {
  display: flex;
  background-color: $color4;
  padding: 1rem;
  border-radius: 0.25rem;
  justify-content: center;
  gap: 0.75rem;
  &__initials {
    font-size: 3rem;
    line-height: 1;
    font-weight: 900;
    background-color: $color1;
    color: 900;
    border-radius: 9999px;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
    color: $color2;
  }
}

.actionCard {
  padding: 0.25rem;
  width: 100%;
  min-width: 10rem;
  background-color: $color3;
  border-radius: 0.25rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @media (min-width: 500px) {
    width: 45%;
    flex-direction: column;
  }
  @media (min-width: 878px) {
    flex-direction: column;
    width: 20%;
    padding: 1.25rem;
    justify-content: center;
  }
  &__pic {
    background-size: cover;
    background-position: center;
    width: 50%;
    max-width: 5rem;
    aspect-ratio: 1 / 1;
    &--clock {
      background-image: url('../src/assets/logo_hour.png');
    }
    &--eye {
      background-image: url('../src/assets/eye.png');
    }
    &--retard {
      background-image: url('../src/assets/retard.png');
    }
    &--enveloppe {
      background-image: url('../src/assets/enveloppe.png');
    }
  }
}

.layoutCard {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 83%;
  max-width: 56rem;
  flex-direction: column;
  &--actions {
    width: 83%;
  }
  @media (min-width: 710px) {
    width: 83%;
  }
  @media (min-width: 768px) {
    gap: 1rem;
  }
  @media (min-width: 1000px) {
    gap: 2rem;
  }
  @media (min-width: 400px) {
    flex-direction: row;
  }
}

.newsCard {
  padding: 0.5rem;
  min-width: 10rem;
  background-color: $color3;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5rem;

  @media (min-width: 878px) {
    width: 20%;
  }
  @media (min-width: 1000px) {
    padding: 1.25rem;
  }
  &__title {
    font-weight: 700;
    text-align: center;
    display: block;
    border-bottom: 2px solid $color2;
    width: 100%;
  }
}

.addBadg {
  display: flex;
  background-color: $color3;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 33%;
  min-width: 265px;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  @media (min-width: 1168px) {
    flex-wrap: nowrap;
  }
  &__pic {
    background-size: cover;
    background-position: center;
    width: 8rem;
    aspect-ratio: 1 / 1;
    background-image: url('../src/assets/logo_hour.png');
  }
  &__text {
    text-align: center;
  }
  &__OkPic {
    background-size: cover;
    background-position: center;
    width: 8rem;
    aspect-ratio: 1 / 1;
    background-image: url('../src/assets/badgOk.png');
  }
}

.logInCard {
  background-color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  position: absolute;
  border: 2px solid $color1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  & input {
    background-color: darken(white, 4);
    border-bottom-width: 2px;
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
  }
  @media (min-width: 1000px) {
    position: unset;
    transform: none;
  }
}
