.loginPage {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  &__pic {
    background-size: cover;
    background-position: left;
    min-height: 100vh;
    background-image: url('../src/assets/Login_img.jpeg');
  }
  &__gradient {
    max-width: 10px;
    background-image: linear-gradient(to right, #fff, $color1);
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color1;
  }
}
