//extension du bouton
@keyframes btnAdd {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    transform: scaleX(1);
  }
}

//dispartition de l'icone plus
@keyframes btnAdd_icon {
  from {
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

//Keyframe de vibration
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(0);
  }
}

//vibration mais avec le bouton tourné à 45deg
@keyframes vibrate-turn {
  0% {
    transform: translate(0) rotate(45deg);
  }
  20% {
    transform: translate(-1px, 1px) rotate(45deg);
  }
  40% {
    transform: translate(-1px, -1px) rotate(45deg);
  }
  60% {
    transform: translate(1px, 1px) rotate(45deg);
  }
  80% {
    transform: translate(1px, -1px) rotate(45deg);
  }
  100% {
    transform: translate(0) rotate(45deg);
  }
}
