@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #f5f5f5;
}

input {
  border-bottom-width: 2px;
}
input:hover {
  background-color: #f5f5f5;
}
